<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.sinofool.cordova.plugins.alipay" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-alipay-plugin</name>
    <js-module name="cordova-alipay-plugin" src="www/cordova-alipay-plugin.js">
        <clobbers target="AlipayPlugin" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AlipayPlugin">
                <param name="ios-package" value="AlipayPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>chatea</string>
                    </array>
                </dict>
            </array>
        </config-file>
        <source-file src="src/ios/AlipayPlugin.m" />
        <header-file src="src/ios/AlipayPlugin.h" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Security.framework" />
        <framework src="libs/AlipaySDK.framework" custom="true" />
        <resource-file src="libs/AlipaySDK.bundle" />
    </platform>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="AlipayPlugin">
                <param name="android-package" value="com.sinofool.cordova.plugins.alipay.AlipayPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/AlipayPlugin.java" target-dir="src/com/sinofool/cordova/plugins/alipay/" />
        <source-file src="libs/alipaysdk.jar" target-dir="libs/" />
        <source-file src="libs/alipaysecsdk.jar" target-dir="libs/" />
        <source-file src="libs/alipayutdid.jar" target-dir="libs/" />
    </platform>
</plugin>
